*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

:root {
    color-scheme: light dark;
    --brand-color: #9acd32;
    --green: #11b755;
    --yellow: #daaf38;
    --red: #ca6547;
    --black: #222;
    --gray: #999;
    --soft-dark: #323437;
    --text: #646669;
    --text-correct: var(--brand-color);
    --text-error: var(--red);
    --monkey-brand-color: #e2b714;
}

body {
    background-color: var(--soft-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-bottom: 3px solid var(--text);

    .title {
        width: 100%;
        color: var(--monkey-brand-color);
        font-size: 3rem;
        text-align: center;
        padding: 10px;
        border-bottom: 3px solid var(--text);
    }

    .options {
        width: 80vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 16px;
        margin: 10px;
        background-color: var(--black);

        &__option {
            display: flex;
            text-decoration: none;
            list-style: none;
            
            button {
                display: flex;
                align-items: center;
                position: relative;
                border: none;
                padding: auto 10px;
                background-color: var(--black);
                cursor: pointer;

                svg {
                    scale:150%;
                    padding-right: 10px;
                    stroke: var(--text);
                }

                h2 {
                    // line-height: 50px;
                    color: var(--text)
                }

                &:hover {
                    h2 {color: var(--monkey-brand-color)}
                    svg {stroke: var(--monkey-brand-color)}

                    .tooltiptext {
                        visibility: visible;
                        animation: late-fade-in 1.2s ease-out 1 forwards;
                    }
                }

                .tooltiptext {
                    visibility: hidden;
                    min-width: 200px;
                    background-color: rgba(0, 0, 0, 0.614);
                    color: #fff;
                    font-size: 1rem;
                    text-align: center;
                    border-radius: 20px;
                    padding: 7px;
                    position: absolute;
                    z-index: 1;
                    top: 130%;
                    left: 50%;
                    margin-left: -60px;

                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: 100%;  /* At the top of the tooltip */
                        left: 50%;
                        margin-left: -10px;
                        border-width: 10px;
                        border-style: solid;
                        border-color: transparent transparent black transparent;
                    }
                }
            }
        }
    }
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .game {
        display: flex;
        flex-direction: column;

        &__timer {
            color: var(--gray);
        }

        &__word-counter {
            color: var(--gray)
        }

        &__text {
            display: flex;
            flex-wrap: wrap;
            gap: 3px 8px;

            tg-word {
                border-bottom: 4px solid transparent;
                transition: border-bottom .4s;
                
                &.marked {
                    border-bottom: 4px solid var(--text-error);
                }
            }

            tg-letter {
                --after-content: '';
                color: var(--text);
                position: relative;

                &.correct {
                    // color: var(--text-correct);
                    animation: letter-fade-color 4s linear forwards,
                        pulse-color 4s ease-in-out infinite;
                }

                &.incorrect {
                    color: var(--text-error);
                    color: #000;
                }
                
                &.active::before {
                    content: '|';
                    color: var(--yellow);
                    position: absolute;
                    left: -7px;
                    animation: blink 1s ease-in-out infinite ;
                }

                &.active.is-last::before {
                    left: 7px;
                }

                &::after {
                    content: var(--after-content);
                   // content: '*';
                    position: absolute;
                    top: -70%;
                    left: 0;
                    color: var(--text-error);
                }
            }
        }

        &__input {
            // margin: 10px 0;
            position:absolute;
            opacity: 0;
        }
        
    }

    .info {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: none;
        grid-template-areas: 
            "wpm . ."
            "acc . ."
            "reset reset reset"
        ;
        align-content: center;
        justify-content: center;
        background-color: var(--soft-dark);
        padding: 5vmax;

        article {
            width: 20vw;
            height: 20vw;
            margin: 10px;
            padding: 20px;
            border-radius: 10px;
            border: 4px solid var(--text);
            text-align: center;
            display: grid;
            grid-template-rows: 1fr 2fr;            ;

            h2 {
                width: 100%;
                text-align: center;
                color: var(--monkey-brand-color)
            }

            h3 {
                font-size: 2rem;
                color: var(--text);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .wpm {
                grid-area: wpm;
            }

            .acc {
                grid-area: accuracy;
            }

            .stats {
                animation: letter-fade-color 4s linear forwards,
                pulse-color 4s ease-in-out infinite;
            }
        }

        // .reset {
        //     // scale: 80%;
        //     grid-area: reset;
        //     color: var(--monkey-brand-color);
        //     padding: 10px;
        //     margin: 10px;
        //     margin-top: 30px;
        //     border-radius: 10px;
        //     opacity: .4;
        //     transition: all .3s ease-in-out;
        //     cursor: pointer;

        //     &:hover {
        //         background-color: var(--monkey-brand-color);
        //         opacity: 1;
                
        //         img {
        //             scale: 150%;
        //         }
        //     }
        // }

        .info-options {
            grid-area: reset;

            .options {
                width: 80vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 16px;
                margin: 10px;
                background-color: var(--black);
                // text-decoration: none;
                list-style: none;
                
                &__option {
                    display: flex;
                    text-decoration: none;
                    list-style: none;
                    
                    button {
                        display: flex;
                        align-items: center;
                        border: none;
                        padding: auto 10px;
                        background-color: var(--black);
                        cursor: pointer;
                        
                        svg {
                            scale:150%;
                            padding-right: 10px;
                            stroke: var(--text);
                        }
                        
                        h2 {
                            // line-height: 50px;
                            color: var(--text)
                        }
                        
                        &:hover {
                            h2 {color: var(--monkey-brand-color)}
                            svg {stroke: var(--monkey-brand-color)}
                        }
                    }
                }
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    color: var(--text);
    text-align: center;
    width: 100%;
    z-index: 3;
    
    
    .footer {
        font-size: .8rem;
        width: 100%;
        padding-bottom: 10px;
        
        a {
            font-size: .8rem;
            text-decoration: none;
            color: var(--text);
            
            &:hover {
                color: var(--monkey-brand-color)
            }
        }

        b {
            font-size: .8rem;
            position: relative;
            // text-align: center;

            &::after {
                content: '💖';
                position: absolute;
                left: 0;
                bottom: 0;  
                font-size: .8rem;
            }
        }

        &:hover {
            b::after {
                // font-size: 1rem;
                animation: heart-beat 2s ease-in-out infinite;
            }
        }
    }
}

@keyframes blink {
    0%, 25% {opacity: 1}
    75% {opacity: 0}
    
}

@keyframes letter-fade-color {
    // 0%{color: var(--brand-color)}
    // 50%, 100%{color: blueviolet}
    0%{color: rgb(255, 230, 0)}
    10%, 100% {color: rgb(255, 106, 0)}
    // 0%{color: var(--brand-color)}
    // 50%, 100%{color: blueviolet}
}

@keyframes pulse-color {
    0%, 100% {color:rgb(255, 230, 0)}
    50%{color: rgb(255, 106, 0)}
}

@keyframes late-fade-in {
    0%, 86% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes heart-beat {
    0%, 100% {
        // font-size: .8rem;
        // left: 0;
        // bottom: 0;
        scale: 100%;
    }
    50% {
        scale: 150%;
        // font-size: 1rem;
        // left: -2px;
        // bottom: -2px;
    }
}